---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const allNotes = await getCollection('notes');
const topics = [...new Set(allNotes.map(note => note.id.split('/')[0]))];
---

<Layout>
  <b>Material de estudio disponible:</b>
  <ul>
    {topics.map(topic => (
      <li><a href={`/${topic}`}>{topic}</li>
    ))}
  </ul>
</Layout>
