---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const allNotes = await getCollection('notes');
const topics = [...new Set(allNotes.map(note => note.id.split('/')[0]))];
---

<Layout title="Material de estudio">
  <h1>Material de estudio</h1>
  <p>Esta página corresponde a material de estudio sobre temas puntuales (por ahora solo en español), organizado en una grilla para su fácil lectura.</p>
  <p>Por el momento, sólo sirve a fines personales y de mis compañeros.</p>
  <b>Material de estudio disponible:</b>
  <ul>
    {topics.map(topic => (
      <li><a href={`${import.meta.env.BASE_URL}/${topic}`}>{topic}</li>
    ))}
  </ul>
</Layout>
